.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Ensure this matches the height used in margin-top */
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a, .navbar-links span {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
}

.navbar-links li button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-links li button:hover {
  text-decoration: underline;
}

.navbar-links a:hover, .navbar-links span:hover {
  text-decoration: underline;
}

/* Mobile Menu Toggle Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}

/* When screen size is less than 768px */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    padding: 20px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 15px 0;
  }

  .menu-toggle {
    display: flex;
  }
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: underline;
}
